<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="apple-mobile-web-app-title" content="Weather Eye" />
	<meta name="viewport" content="user-scalable=0, initial-scale=1.0">
	<title>Weather Eye | A Simple iPhone Weather web app.</title>
	<link href="css/weather.css" rel="stylesheet">
	<link rel="apple-touch-startup-image" href="img/iphone.png" />
	<link rel="apple-touch-startup-image" href="img/iphone5.png" media="screen and (device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2)" />
	<link rel="apple-touch-icon-precomposed" href="img/icon.png" />
	<link rel="apple-touch-icon-precomposed" sizes="72x72" href="img/icon-72.png" />
	<link rel="apple-touch-icon-precomposed" sizes="114x114" href="img/icon@2x.png" />
	<link rel="apple-touch-icon-precomposed" sizes="144x144" href="img/icon-72@2x.png" />

	<script src="js/jquery.js"></script>
	<script src="js/jQuery.animate-enhanced.js"></script>
	<script src="js/countTo.js"></script>
	<script src="js/oriDomi.js"></script>
	<script src="js/SlidingView.js"></script>
	<script src="js/jstz-1.0.4.min.js"></script>
	<script src="js/fastclick.js"></script>
	<script src="js/skycons.js"></script>

	<script src="js/weather.js"></script>
	<script type="text/javascript" src="//use.typekit.net/hie5xdb.js"></script>
	<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
</head>
<body class="preview">
	<div id="app">
		<h1>Weather Eye</h1>
		<p>A simple iPhone weather web app</p>
		<p>keep a weather eye</p>
		<a id="more" href="#">Free</a>
		<div class="photo"></div>
	</div>
	<div class="overlay">
		<div class="wrapper"><h2>Visit this page from your <strong>iOS</strong> device</h2><p>Weather is a web app designed for the iPhone.</p><p>Visit <strong>this page</strong> from your iOS device and install it on your Home Screen.</p>
		</div>
	</div>
</body>
</html>