
body{
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	overflow: hidden;
	padding: 0px;
	margin: 0px;
	overflow: hidden;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
  font-family: "open-sans", Helvetica, sans-serif;
	font-size: 16px;
	line-height: 1.3em;
	color: #ffffff;
	letter-spacing: -0.1em;
	text-align: center;
	background-color: #000;
}
#container {
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	overflow: hidden;
	padding: 0px;
	margin: 0px;
}

#sidebar{
	position: absolute;
	width: 220px;
	left: 0px;
	top: 0px;
	bottom: 0px;
	-webkit-transform: translate3d(0,0,0);
	-moz-transform: translate3d(0,0,0);
	-o-transform: translate3d(0,0,0);
	-ms-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
	background-color: #333;
	text-align: left;
	overflow: auto;
	-webkit-overflow-scrolling: touch;

}
#sidebar h2{
	font-size: 24px;
	font-weight: 700;
	text-transform: uppercase;
	margin-left: 14px;
	margin-top: 14px;
	
}
#sidebar ul{
	width: 100%;
	list-style: none;
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	text-transform: uppercase;
}
#sidebar ul:last-child {
	margin-bottom: 40px;
}
#sidebar li {
	border-bottom: 1px solid rgba(0,0,0,0.75);
	box-shadow: 0px 1px 0px rgba(255,255,255,0.1);
	padding-left: 15px;
	font-size: 17px;
	color: rgba(255,255,255,0.65);
	position: relative;
	z-index: 10;
	height: 48px;
	line-height: 48px;
	padding-right: 15px;
}
#settings li:last-child {
	box-shadow: none;
	border-bottom: none;
}

#mainView {
	position: absolute;
	left: 0px;
	top: 0px;
	bottom: 0px;
	-webkit-transform: translate3d(0,0,0);
	-moz-transform: translate3d(0,0,0);
	-o-transform: translate3d(0,0,0);
	-ms-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
	overflow: hidden;
	background-color: #2B75A1;

}


a{
	color: #ffffff;
	text-decoration: none;
}
h1{
	font-size: 100px;
	font-weight: 500;
}
h1.temperature{
	font-size: 150px;
	font-weight: 300;
	position: relative;
	left: 24px;
	width: 296px;
	margin-top: 80px;
	margin-bottom: 50px;
}
h2{
	font-size: 32px;
	font-weight: 700;
}
h3{
	font-size: 26px;
	font-weight: 400;
}
ul#daily{
	list-style: none;
}
ul#daily li{
	float: left;
	width: 45px;
	margin: 0;

}
#weather-icon{
	margin-top: 20px;
}

.loading {
	width: 10px;
	height: 10px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -5px;
	margin-top: -5px;
	background: white;
	border-radius: 100px;
	-webkit-animation: rotate 1.2s ease-in-out infinite;
	-webkit-mask-box-image: -webkit-linear-gradient(white, rgba(255,255,255,0.75));
	z-index: 999;
}
