body{
  font-family: "open-sans", Helvetica, sans-serif;
	font-size: 16px;
	line-height: 1.3em;
	color: #ffffff;
	background-color: #2B75A1;
	width: 100%;
	letter-spacing: -0.1em;
	text-align: center;
}
a{
	color: #ffffff;
	text-decoration: none;
}
h1{
	font-size: 100px;
	font-weight: 500;
}
h1.temperature{
	font-size: 150px;
	font-weight: 300;
	position: relative;
	left: 24px;
}
h2{
	font-size: 32px;
	font-weight: 700;
}
h3{
	font-size: 26px;
	font-weight: 400;
}