html{
	background: #000;
}
body{
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	overflow: hidden;
	padding: 0px;
	margin: 0px;
	overflow: hidden;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
  font-family: "open-sans", Helvetica, sans-serif;
	font-size: 16px;
	line-height: 1.3em;
	color: #ffffff;
	letter-spacing: -0.1em;
	text-align: center;
	background-color: #000;
}
.hide{
	display: none;
}
#container {
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	overflow: hidden;
	padding: 0px;
	margin: 0px;
}

#sidebar{
	position: absolute;
	width: 225px;
	height: 568px;
	left: 0px;
	top: 0px;
	bottom: 0px;
	-webkit-transform: translate3d(0,0,0);
	-moz-transform: translate3d(0,0,0);
	-o-transform: translate3d(0,0,0);
	-ms-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
	background: #1b1b1b;
	background: -webkit-linear-gradient(#1b1b1b 0%, #101010 100%);
	text-align: left;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
	border-radius: 6px;

}
#sidebar input{
	padding: 15px;
  border-radius: 0px;
  margin: 0px;
  background: 
  transparent;
  display: block;
  border: none;
  color: rgba(255,255,255,0.7);
  -webkit-appearance: none;
  width: 100%;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  text-transform: capitalize;
	line-height: 28px;
	font-size: 17px;

}
#sidebar h2{
	font-size: 21px;
	font-weight: 500;
	text-transform: uppercase;
	padding-left: 14px;
	padding-top: 14px;
	padding-bottom: 14px;
	margin:0px;
	border-bottom: 1px solid rgba(0,0,0,0.75);
	box-shadow: 0px 1px 0px rgba(255,255,255,0.1);
	background: -webkit-linear-gradient(rgba(0,0,0,0.48) 0%, rgba(0,0,0,0.38) 100%)
	
}
#sidebar ul{
	width: 100%;
	list-style: none;
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	text-transform: uppercase;
}
#sidebar ul:last-child {
	margin-bottom: 40px;
}
#sidebar li {
	border-bottom: 1px solid rgba(0,0,0,0.75);
	box-shadow: 0px 1px 0px rgba(255,255,255,0.1);
	padding-left: 15px;
	font-size: 17px;
	position: relative;
	z-index: 10;
	height: 48px;
	line-height: 48px;
	padding-right: 15px;
}
#sidebar li.current::after{
	content: '';
	position: absolute;
	display: inline-block;
	width: 28px;
	height: 28px;
	top: 20%;
	right: 10px;
	background: -webkit-linear-gradient(rgba(238,238,238,0.8) 0%, rgba(255,255,255,0.8) 100%);
	border-radius: 14px;
	box-shadow: 0px 0px 6px rgba(0,0,0,0.68);
	border: 1px solid  rgba(255,255,255, 0.95);

}
#sidebar li a{
	color: rgba(255,255,255,0.7);
}
#sidebar li:last-child {
	box-shadow: none;
	border-bottom: none;
}

#mainView {
	position: absolute;
	left: 0px;
	top: 0px;
	bottom: 0px;
	-webkit-transform: translate3d(0,0,0);
	-moz-transform: translate3d(0,0,0);
	-o-transform: translate3d(0,0,0);
	-ms-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
	overflow: hidden;
	background: -webkit-linear-gradient(#2c76a1 0%, #03507e 100%);
	border-radius: 10px;
	box-shadow: -2px 0px 14px rgba(0,0,0,0.654);

}


a{
	color: #ffffff;
	text-decoration: none;
}
h1{
	font-size: 100px;
	font-weight: 500;
}
#mainView h1{
	margin-top: 80px;
	margin-bottom: 50px;
	position: relative;
	left: 24px;
	width: 296px;

}
h1 span.temperature{
	font-size: 150px;
	font-weight: 300;
}
h2{
	font-size: 32px;
	font-weight: 700;
}
h3{
	font-size: 26px;
	font-weight: 400;
}
ul#daily{
	list-style: none;
}
ul#daily li{
	float: left;
	width: 45px;
	margin: 0;
	margin-left: 3px;

}
#weather-icon{
	margin-top: 20px;
}

.loading {
	width: 10px;
	height: 10px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -5px;
	margin-top: -5px;
	background: white;
	border-radius: 100px;
	-webkit-animation: rotate 1.2s ease-in-out infinite;
	-webkit-mask-box-image: -webkit-linear-gradient(white, rgba(255,255,255,0.75));
	z-index: 999;
}

@media (min-width: 768px) {
	body{
		 background: -webkit-linear-gradient(#fbfbfb 0%, #bababa 100%);
		 color: #2c76a1;
	}
	h1{
		font-size: 100px;
		font-weight: 300;
		letter-spacing: -0.08em;
	}
	.overlay{
		padding: 25px;
		background: 
	}
}

@media only screen and (min-width: 321px) and (max-width: 568px) {
    /* styles go here */
    ul#daily{
	    position: absolute;
	    top: 150px;
	    left: 150px;
    }
    ul#daily li{
	    
    }
    #mainView h1{
    		position: absolute;
    		left: 132px;
    		top: 30px;    
    }
    #mainView h1 span.temperature{
    		font-size: 140px;
    }
    #mainView h2#theCity{
	    position: absolute;
	    left: 190px;
    }
    #weather-icon{
	    margin-top: 20px;
	    position: absolute;
	    left: 20px;
	    top: 50px;
	  }

}
